@model string
<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div class="row" style="margin: 75px 150px 150px 150px">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-warning error" role="alert">
                <strong>Oops!</strong> @Model
            </div>
        </div> 
    </div>
</body>
</html>
