<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllContacts</title>
</head>
<body>
    <div class="row profileTopBar">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Position</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Test</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Test</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>Testr</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
