
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/User.css" rel="stylesheet" />
</head>
<body>
    <div class="row profileTopBar">
        <div class="col-md-2 col-md-offset-3">
            <img class="profilePicture pull-right" src="~/Images/spanLogoLogin.png" />
        </div>
        <div class="col-md-7">
            <p class="userName">Jordan Pitner (Sales Associate)</p>
            <p class="userNameDetails">Born: 7/1/1994</p>
            <p class="userNameDetails">Joined: 6/1/2018</p>
        </div>
    </div>
    <div class="row" style="margin-top: -35px; width: 100%">
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">EMPLOYEE BIOGRAPHY</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">
                                Testing Testing Testing Testing Testing Testing Testing Testing Testing
                                TestingTesting Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing
                                Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing
                                Testing Testing Testing Testing Testing Testing Testing Testing Testing
                                TestingTesting Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing
                                Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">Hockey, Football, Coding, Sports</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">18291892</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">CONTACT INFORMATION</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">jrptnr13@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Phone: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">815-527-1291</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;&nbsp;Employee ID: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">18291892</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%">
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">EMPLOYEE BIOGRAPHY</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">Hockey, Football, Coding, Sports</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">18291892</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="panelTitle">LINKED CONTACTS</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 2</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 3</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
