<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/User.css" rel="stylesheet" />
</head>
<body>
    <div style="margin-top: 50px">
        <div class="profileTopBar">
            <div class="row">
                <img class="profilePicture pull-left" src="~/Images/spanLogoLogin.png" />
                <p class="userName">Jordan Pitner (Sales Associate)</p>
                <p class="userNameDetails">Born: 7/1/1994</p>
                <p class="userNameDetails">Joined: 6/1/2018</p>
            </div>
            <div style="margin-top: 75px">
                <div class="panel panel-info largeInfoPanel pull-left">
                    <div class="panel-body" style="height: 350px">
                        <p class="panelTitle">BIOGRAPHY AND MISCELLANEOUS</p>
                        <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me</p>
                        <p class="panelTextContactHighlight">
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so
                        </p>
                        <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills:</p>
                        <p class="panelTextContactHighlight">815-527-1291</p>
                        <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges:</p>
                        <p class="panelTextContactHighlight">17981</p>
                    </div>
                </div>
                <div class="panel panel-default smallInfoPanel">
                    <div class="panel-body" style="height: 250px">
                        <div class="row">
                            <p class="panelTitle">CONTACT INFORMATION</p>
                            <p class="panelTextContact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email:</p>
                            <p class="panelTextContactHighlight">jpitner@ascendhit.com</p>
                            <p class="panelTextContact"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Phone:</p>
                            <p class="panelTextContactHighlight">815-527-1291</p>
                            <p class="panelTextContact"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;&nbsp;Empolyee ID:</p>
                            <p class="panelTextContactHighlight">17981</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info largeInfoPanel pull-left">
                    <div class="panel-body" style="height: 350px">
                        <p class="panelTitle">BIOGRAPHY AND MISCELLANEOUS</p>
                        <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me</p>
                        <p class="panelTextContactHighlight">
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                            I am so and so so so so so so so so so so so so so so so so
                        </p>
                        <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills:</p>
                        <p class="panelTextContactHighlight">815-527-1291</p>
                        <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges:</p>
                        <p class="panelTextContactHighlight">17981</p>
                    </div>
                </div>
                <div class="panel panel-default smallInfoPanelLong">
                    <div class="panel-body" style="height: 450px">
                        <p class="panelTitle">LINKED CONTACTS</p>
                        <div class="contactPanel">
                            <img class="contactPhoto" src="~/Images/spanLogoLogin.png" />
                            <p class="panelTextContactName">&nbsp;Jordan Pitner (Sales Associate)</p>
                        </div>
                        <div class="contactPanel">
                            <img class="contactPhoto" src="~/Images/spanLogoLogin.png" />
                            <p class="panelTextContactName">&nbsp;Jordan Pitner (Sales Associate)</p>
                        </div>
                        <div class="contactPanel">
                            <img class="contactPhoto" src="~/Images/spanLogoLogin.png" />
                            <p class="panelTextContactName">&nbsp;Jordan Pitner (Sales Associate)</p>
                        </div>
                        <div class="contactPanel">
                            <img class="contactPhoto" src="~/Images/spanLogoLogin.png" />
                            <p class="panelTextContactName">&nbsp;Jordan Pitner (Sales Associate)</p>
                        </div>
                        <div class="contactPanel">
                            <img class="contactPhoto" src="~/Images/spanLogoLogin.png" />
                            <p class="panelTextContactName">&nbsp;Jordan Pitner (Sales Associate)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
