.profileTopBar{
    height: 440px;
    background-image: linear-gradient(90deg, #21283e, #4c5c8c);
    padding-top: 90px;
    width: 100%;
}

.profilePicture{
    border-radius: 50%;
    width: 150px;
    border: 2px solid white;
}

.userName{
    font-size: 30px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight:100;
    /*padding: 10px;*/
}

.userNameDetails{
    font-size: 15px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:inline;
    padding-right: 10px;
    font-weight: bold;
}

.userNameDetailsRow{
     margin-top: -190px; 
     margin-bottom: 80px;
 }

.organizationRow{
    margin-top: -75px;
    margin-bottom: 60px;
}

.panelTitle{
    font-size: 15px;
    margin-bottom: 15px;
    color:#4c5c8c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight:100;
}

.panelTextContact{
    font-size: 15px;
    color:#4c5c8c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight:100;
}

.panelTextContactHighlight{
    font-size: 15px;
    margin-left: 22px;
    color:#728ad3;
    font-family: Arial;
    font-weight:bold;
}

.infoPanel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactPhoto{
    width: 65px;

}

.panelTextContactName{
    font-size: 15px;
    margin-left: 20px;
    color:#4c5c8c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight:100;
    display:inline;
}
 .contactPanel:hover{
     background-color:#f3f3f4;
     cursor: pointer;
 }

 .centeredCol{
     position: relative;
     transform: translateY(90%);
 }

 .badgeTitle{
     color: white;
     font-family: Impact;
     font-size: 72px;
 }

 .panelTextBadgeHighlight{
    font-size: 15px;
    color:#728ad3;
    font-family: Arial;
    font-weight:bold;
}

 .disabledPanel{
     opacity: .75;
     background-color: lightgray;
 }